@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
// File obnull style
@import "_nullstyle";
@font-face {
  font-family: Proxima Nova;
  src: url(/fonts/ProximaNovaCond-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy-ExtraBold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: url(/fonts/ProximaNovaCond-RegularIt.ttf);
  font-style: italic;
  font-weight: normal;
}

.body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  &__lock {
    overflow: hidden;
  }
}
main {
  background: url(/img/jakob-owens-oIPwvZIAp0o-unsplash.jpg) 50% / cover no-repeat;
}

.header {
  display: flex;
  top: 0px;
  width: 100%;
  background-image: url(/img/noize.png);
  @media screen and (max-width: 880px) {
    width: 95%;
  }

  &__container {
    height: 80px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    width: 1300px;
    @media screen and (max-width: 1300px) {
      width: 90%;
    }
    @media screen and (max-width: 850px) {
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    @media screen and (max-width: 442px) {
      display: none;
    }
  }
  &__toggle {
    margin-left: auto;
    background: url(/img/icons8-menu-52.png) center no-repeat;
    width: 40px;
    cursor: pointer;
    display: none;
    @media screen and (max-width: 850px) {
      display: block;
    }
  }
  &__toggle-active {
    background: url(/img/icons8-delete-50.png) center no-repeat;
    width: 40px;
    cursor: pointer;
    display: none;
    @media screen and (max-width: 850px) {
      display: block;
    }
  }
}
.menu {
  display: flex;
  text-align: end;
  @media screen and (max-width: 850px) {
    position: fixed;
    top: 0;
    left: 0;
  }

  &-list {
    display: flex;
    justify-content: right;
    align-items: center;
    @media screen and (max-width: 850px) {
      display: none;
    }
    &__item {
      font-family: Roboto;
      font-size: 15px;
      margin: 0 0 0 30px;
      line-height: 100%;
      text-align: flex-end;
      color: #ffffff;
      &:hover {
        color: #f2c94c;
      }
      @media screen and (max-width: 850px) {
        font-size: 30px;
      }
    }
    &__show {
      text-align: left;
      position: fixed;
      margin: 80px 0 0 0;
      top: 0;
      left: 0;
      min-width: 320px;
      font-size: 50px;
      font-family: Roboto;
      font-weight: 700;
      background-image: url(/img/noize.png);
      display: block;
      @media screen and (min-width: 850px) {
        display: none;
      }
    }
  }
}

.title {
  width: 100%;
  display: flex;
  margin: 70px 0 0 0;
  justify-content: center;
  text-align: center;
  &__container {
    margin: 0 0 0 20px;
    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }

  &__head {
    margin: 0 auto;
    font-family: Gilroy;
    font-size: 90px;
    text-align: center;
    max-width: 512px;
    color: #ffffff;
    @media screen and (max-width: 850px) {
      font-size: 80px;
    }
    @media screen and (max-width: 490px) {
      font-size: 50px;
    }
  }
  &__text {
    color: #ffffff;
    margin: 40px auto;
    text-align: center;
    font-family: roboto;
    font-style: normal;
    font-size: 26px;
    max-width: 530px;
    line-height: 120%;
    & span {
      font-size: 28px;
      font-family: "Playfair Display", serif;
      font-style: italic;
      text-decoration: underline;
    }
  }
  &__button {
    display: inline-block;
    font-weight: bolder;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    border: solid 1px #ffffff;
    padding: 23px 50px;
    background-color: #ffffff;
    &:hover {
      background-color: #f2c94c;
    }
  }
}
.bottom {
  &__head {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 30px auto;
    @media screen and (max-width: 1400px) {
      width: 90%;
    }
  }
  &__title {
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__hint {
    font-size: 18px;
    line-height: 100%;
    text-align: end;
    color: #ffffff;
  }
  &__column {
    background-image: url(/img/noize.png);
    display: flex;
    justify-content: center;
    margin: 18px 0 0 0px;
    padding: 0 50px 0 50px;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__item {
    padding: 20px 50px 20px 0;
    margin: 20px 50px 20px 0px;
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: center;
    @media screen and (max-width: 1205px) {
      padding: 0;
    }
    @media screen and(max-width: 1024px) {
      border-right: none;
    }
    &:last-child {
      border-right: none;
      margin: 20px 0px 20px 0px;
      @media (max-width: 1024px) {
        margin: 20px 50px 20px 0px;
      }
    }
  }
  &__icon {
    height: 36px;
  }
  &__text {
    padding-left: 30px;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    width: 270px;
  }
}

.gallery {
  margin-bottom: 60px;
  &__title {
    margin-top: 80px;
  }
  &__headtitle {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    text-transform: uppercase;
    color: #f2c94c;
    letter-spacing: 10px;
    line-height: 100%;
    font-weight: bold;
  }
  &__subtitle {
    margin-top: 17px;
    font-family: Gilroy;
    font-size: 42px;
    line-height: 100%;
    text-align: center;
  }

  &__menu {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    font-family: roboto;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px;
  }
  &__link {
    border: solid 2px #e9e9e9;
    padding: 17px 30px;
    color: #333333;

    &:hover {
      transition: color 0.7s linear;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(252, 243, 214, 1) 0%,
        rgba(250, 235, 187, 1) 2%,
        rgba(242, 201, 76, 1) 56%,
        rgba(242, 201, 76, 1) 100%
      );
      box-shadow: 0 10px 0 0 rgb(242, 201, 76)
        linear-gradient(90deg, rgba(242, 201, 76, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(239, 137, 24, 1) 100%);
    }
  }
}

.famyly-photo {
  max-width: 1320px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  @media (max-width: 1320px) {
    flex-direction: column;
  }
  &__item {
    width: 420px;
    display: inline-block;
    margin: 0 20px 20px 0;
  }

  &__zoom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(252, 243, 214, 1) 0%,
      rgba(250, 235, 187, 1) 2%,
      rgba(242, 201, 76, 1) 80%,
      rgba(242, 201, 76, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  &__card {
  }
  &__image {
    z-index: 25;
    display: block;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.3;
    }
  }
}
.big {
  width: 860px;
}
.services {
  background: #202020;
  &__container {
    max-width: 1300px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    @media (max-width: 1320px) {
      max-width: 1000px;
    }
  }
  &__title {
    padding-top: 80px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    text-transform: uppercase;
    color: #f2c94c;
    letter-spacing: 10px;
    line-height: 100%;
    font-weight: bold;
  }
  &__subtitle {
    margin-top: 17px;
    font-family: Gilroy;
    font-size: 42px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
  }
  &__cards {
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1320px) {
      max-width: 1000px;
      justify-content: center;
    }
    @media (max-width: 1030px) {
      max-width: 1000px;
      flex-direction: column;
    }
  }
}

.card {
  max-width: 400px;
  margin-top: 50px;
  border: 1px solid #c0c0c042;
  margin-bottom: 80px;
  @media (max-width: 1225px) {
    max-width: 350px;
  }
  &__title {
    padding-top: 20px;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.2;
    text-align: center;
  }
  &__subtitle {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.5px;
    color: #f2c94c;
    border-bottom: 1px solid #c0c0c042;
    padding-bottom: 20px;
  }
  &__list {
    padding: 40px;

    max-width: 340px;
  }
  &__icon {
    padding: 5px 5px 0 0;
    justify-content: center;
  }
  &__text {
    max-width: 340px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.8;
    padding: 10px 0 0 0px;
    & span {
      padding-left: 27px;
    }
    &::before {
      content: url(/img/galochka.png);
      padding-right: 10px;
    }
  }
  &__price {
    padding-top: 30px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #c0c0c042;
  }
  &__button {
    display: inline-block;

    margin: 30px 95px;
    padding: 20px 70px;
    font-family: roboto;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(252, 243, 214, 1) 0%,
      rgba(250, 235, 187, 1) 2%,
      rgba(242, 201, 76, 1) 80%,
      rgba(242, 201, 76, 1) 100%
    );
    border: 0.1px solid #f2c94c;
    @media screen and (max-width: 1205px) {
      margin: 20px 60px;
    }
  }
}

.team {
  display: flex;
  background: url(/img/team/bg.jpg) 0 0/100% 100% no-repeat;
  @media screen and (max-width: 1205px) {
    display: flex;
    flex-flow: wrap;
  }

  &__photo {
    display: flex;
    width: 50%;
    @media screen and (max-width: 1205px) {
      margin: 0 auto;
      order: 1;
    }
  }
  &__image {
    display: inline-block;
    padding-top: 80px;
    margin: 0 auto;
    vertical-align: bottom;
    @media screen and (max-width: 900px) {
      width: 90%;
    }
  }

  &__discription {
    width: 50%;
    background: url(/img/team/textback.png) 0 0/100% 100% no-repeat;
    @media screen and (max-width: 1205px) {
      margin: 0 auto;
      width: auto;
      order: 0;
    }
  }
  &__container {
    padding: 80px 80px 40px 80px;
  }
  &__title {
    margin-bottom: 25px;
    font-family: Roboto;
    font-size: 18px;
    text-transform: uppercase;
    color: #f2c94c;
    letter-spacing: 10px;
    line-height: 100%;
    font-weight: bold;
  }
  &__subtitle {
    font-family: Gilroy;
    font-size: 42px;
    line-height: 100%;
    margin-bottom: 40px;
    color: #ffffff;
  }
  &__text {
    padding-bottom: 40px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 140%;

    color: rgba(255, 255, 255, 0.8);
    & span {
      color: #f2c94c;
    }
  }
}
.text {
  &__off {
    opacity: 0.3;
  }
}
.card_shine {
  border-color: #ffffff;
}

.reviews {
  &__container {
    @media screen and (max-width: 1205px) {
    }
  }
  &__title {
    margin: 0 auto;
    max-width: 660px;
  }
  &__headtitle {
    margin-top: 80px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    text-transform: uppercase;
    color: #f2c94c;
    letter-spacing: 10px;
    line-height: 100%;
    font-weight: bold;
  }
  &__subtitle {
    margin-top: 17px;
    font-family: Gilroy;
    font-size: 34px;
    line-height: 120%;
    text-align: center;
    &__icon {
      padding-top: 8px;
    }
    & span {
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  &__slides {
    @media screen and (max-width: 880px) {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

.slide {
  position: relative;
  margin: 50px auto;
  max-width: 860px;
  display: flex;
  @media screen and (max-width: 880px) {
    display: block;
  }
  &__photo {
    position: absolute;
    top: 20px;
    @media screen and (max-width: 880px) {
      position: unset;
    }
  }
  &__discription {
    height: 240px;
    padding: 40px 50px 10px 0px;
    margin: 60px 0 17px 0px;
    padding-left: 350px;
    border: 2px solid #e9e9e9;
    @media screen and (max-width: 880px) {
      text-align: center;
      margin: unset;
    }
  }
  &__title {
    font-family: Roboto;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.3px;
    color: #333333;
    font-weight: 700;
    min-width: 0;
  }
  &__text {
    margin-bottom: 21px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.3px;
    max-width: 420px;
    color: #707070;
  }
  &__user {
    display: flex;
    font-family: Roboto;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.3px;
    color: #505050;
    font-weight: 700;
  }
  &__icon {
    margin-right: 10px;
  }
}

.slider {
  position: relative;
}
.slick-arrow {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  font-size: 0px;
  @media screen and (max-width: 1190px) {
    top: 0;
  }
}
.slick-arrow.slick-prev {
  left: 100px;
  background: url(/img/revievs/Left.png) 0 0 / 100% no-repeat;
  z-index: 250;
}

.slick-arrow.slick-next {
  right: 100px;
  background: url(/img/revievs/Right.png) 0 0 / 100% no-repeat;
}

.contacts {
  background: #202020;
  @media screen and (max-width: 470px) {
    width: 90%;
  }
  &__title {
  }
  &__headtitle {
    padding-top: 50px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    text-transform: uppercase;
    color: #f2c94c;
    letter-spacing: 10px;
    line-height: 100%;
    font-weight: bold;
  }
  &__subtitle {
    margin: 17px auto;
    max-width: 1024px;
    font-family: Gilroy;
    font-size: 34px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
  }
}
.icons {
  max-width: 800px;
  margin: 60px auto;
  @media screen and (max-width: 800px) {
    max-width: 400px;
  }
  &__link {
    width: 80px;
    height: 100px;
  }
  &__image {
  }
}
.request {
  &__title {
    font-family: Roboto;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: 600px) {
      font-size: 35px;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__input {
    width: 370px;
    margin: 56px 0 17px 20px;
    padding: 0 0 7px 0;
    display: block;
    background: #202020;
    font-family: Roboto;
    font-size: 18px;
    line-height: 12px;
    color: #ffffff;
    opacity: 0.5;
    border-bottom: 1px solid #c0c0c042;
  }
  &__submit {
    margin: 14px 0 0 20px;
    display: inline-block;
    font-weight: bolder;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding: 17px 104px;
    background: linear-gradient(101.67deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%), #f2c94c;
  }

  &__postcript {
    margin: 20px auto;
    max-width: 860px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.3px;
    color: #707070;
    & a {
      color: #ffffff;
      text-decoration: underline;
    }
    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
}

.footer {
  &__text {
    padding: 20px 0;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    color: #707070;
    border: 1px solid #c0c0c042;
  }
}

.wrapper .js .famyly-photo__item {
  width: calc(10% - 1em);
}
@media (max-width: 1320px) {
  .famyly-photo .col .masonry {
    column-count: 1;
  }
}
